@model LoginModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IAuthenticationSchemeProvider SchemeProvider
@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <!-- Form content box start -->
        <div class="form-content-box">
            <!-- details -->
            <div class="details">
                <!-- Logo -->
                <a href="@Url.Action("Index","Home")">
                    <img src="~/img/logos/logo.jpeg" width="100" height="100" alt="black-logo">
                </a>
                <!-- Name -->
                <h3>Sign into your account</h3>
                <!-- Form start -->
                <form method="post" asp-action="Login" asp-controller="Account">
                    @Html.Hidden("returnUrl", HttpContextAccessor.HttpContext.Request.Query["returnUrl"])
                    <div class="form-group">
                        <input type="text" name="userName" class="input-text" placeholder="Email Address">
                        @Html.ValidationMessageFor(x => x.UserName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <input type="password" name="Password" class="input-text" placeholder="Password">
                        @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger" })

                    </div>
                    <div class="checkbox">
                        <div class="ez-checkbox pull-left">
                            <label>
                                <input type="checkbox" class="ez-hide" name="rememberMe">
                                Remember me
                            </label>
                        </div>
                        <a href="@Url.Action("ForgotPassword","Account")" class="link-not-important pull-right">Forgot Password</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group mb-0">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <button type="submit" class="btn-md button-theme btn-block">login</button>
                    </div>
                </form>
                <!-- Social List -->
                <ul class="social-list clearfix">
                    <li><a a asp-action="SignIn" asp-route-returnUrl="@Context.Request.Query["returnUrl"]" asp-route-provider="Facebook" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                    <li><a a asp-action="SignIn" asp-route-returnUrl="@Context.Request.Query["returnUrl"]" asp-route-provider="Google" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                </ul>

            </div>
            <!-- Footer -->
            <div class="footer">
                <span>Don't have an account? <a href="@Url.Action("Signup","Account")">Register here</a></span>
            </div>
        </div>
        <!-- Form content box end -->
    </div>
</div>

