@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<!-- Main header end -->
<!-- Banner start -->
<div class="banner" id="banner">
    <div id="bannerCarousole" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner banner-slider-inner">
            <div class="carousel-item active" style="height: 300px; background-image: url('/img/stephen-leonardi-Al9Cl-b7EFU-unsplash.jpg'); background-position: center; background-size: cover;">
                <img class="d-block w-100 h-100" src="" alt="banner">
                <div class="carousel-content container banner-info">
                    <h2 class="text-uppercase">Find Your Dream Property</h2>
                  @*<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>*@
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner end -->
<!-- Search area 3 start -->
<div class="search-box-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inline-search-area">
                    <div class="row row-3">
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8 search-col">
                            <input class="form-control"  placeholder="enter a location ..." id="location"/>
                        </div>

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4 search-col">
                            <button class="btn white-btn btn-search btn-block" id="searchBtn">
                                <i class="fa fa-search"></i><strong>Find</strong>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Search area 3 end -->
<!-- Featured Properties start -->
<div class="featured-properties content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Featured Properties</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
        <div class="row">


            @{
                foreach (var property in Model?.Properties)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="property-box">
                            <div class="property-thumbnail">
                                <a href="@Url.Action("Details","property", new { Id = property.Id})" class="property-img">
                                    <div class="tag">Featured</div>
                                    <div class="price-box"><span>GMD @property.Area.00</span></div>
                                    <img class="d-block w-100 property-list" src="@Url.Action("GetImage", "Document", new { ImageId = property.PropertyImages.FirstOrDefault()?.ImageId })" alt="properties">
                                </a>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="@Url.Action("Details","property", new { Id = property.Id})">@property.Title</a>
                                </h1>
                                <div class="location">
                                    <a href="@Url.Action("Details","property", new { Id = property.Id})">
                                        <i class="flaticon-pin"></i>@property.City.Name
                                    </a>
                                </div>
                                <ul class="facilities-list clearfix">
                                    <li>
                                        <i class="fa fa-eye"></i>@property.ViewCount views
                                    </li>
                                    <li>
                                        <i class="flaticon-calendar"></i> @DurationHelper.FormatDuration(property.DateCreated)
                                    </li>
                                    <li>
                                        <i class="flaticon-ui"></i> <span>@property.Area M</span><sup>2</sup>

                                    </li>
                                    <li>
                                        <i class="flaticon-rent"></i>@property.Status.Name
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</div>

<div style="display:none" >
    <form asp-controller="Property" asp-action="Search"  method="get" id="searchForm" >
        <input name="location" id="locationInput"/>
    </form>
</div>
<!-- Featured Properties end -->
<!-- advantages start -->
@*<div class="advantages content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title-2 text-center">
            <h1>Our Advantages</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="advantages-box">
                    <div class="icon">
                        <i class="flaticon-pin"></i>
                    </div>
                    <div class="detail">
                        <h5>Various Locations</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="advantages-box">
                    <div class="icon">
                        <i class="flaticon-camera"></i>
                    </div>
                    <div class="detail">
                        <h5>View Apartments</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="advantages-box">
                    <div class="icon">
                        <i class="flaticon-password"></i>
                    </div>
                    <div class="detail">
                        <h5>Privacy and Security</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="advantages-box">
                    <div class="icon">
                        <i class="flaticon-sale"></i>
                    </div>
                    <div class="detail">
                        <h5>No Commission</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus tincidunt.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- advantages end -->
<!-- Categories strat -->
<div class="categories content-area-13">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Categories</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
        <div class="row row-2">
            <div class="col-lg-4 col-md-12">
                <div class="row">
                    <div class="col-md-6 col-lg-12 col-pad">
                        <div class="category">
                            <div class="category_bg_box cat-1-bg">
                                <div class="category-overlay">
                                    <div class="category-content">
                                        <h3 class="category-title">
                                            <a href="properties-list-rightside.html">Studio Apartments</a>
                                        </h3>
                                        <h4 class="category-subtitle">27 Properties</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-12 col-pad">
                        <div class="category">
                            <div class="category_bg_box cat-3-bg">
                                <div class="category-overlay">
                                    <div class="category-content">
                                        <h3 class="category-title">
                                            <a href="properties-details.html">Luxury Houses</a>
                                        </h3>
                                        <h4 class="category-subtitle">98 Properties</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-pad">
                <div class="category">
                    <div class="category_bg_box category_long_bg cat-4-bg">
                        <div class="category-overlay">
                            <div class="category-content">
                                <h3 class="category-title">
                                    <a href="#">With Swimming Pool</a>
                                </h3>
                                <h4 class="category-subtitle">12 Properties</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="row">
                    <div class="col-md-6 col-lg-12 col-pad">
                        <div class="category">
                            <div class="category_bg_box cat-2-bg">
                                <div class="category-overlay">
                                    <div class="category-content">
                                        <h3 class="category-title">
                                            <a href="properties-list-rightside.html">Cozy Houses</a>
                                        </h3>
                                        <h4 class="category-subtitle">27 Properties</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-12 col-pad">
                        <div class="category">
                            <div class="category_bg_box cat-5-bg">
                                <div class="category-overlay">
                                    <div class="category-content">
                                        <h3 class="category-title">
                                            <a href="properties-details.html">+1 Bedroom Apartments</a>
                                        </h3>
                                        <h4 class="category-subtitle">98 Properties</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Categories end -->
<!-- Our team start -->
<div class="our-team content-area-3">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Our Agent</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="team-1">
                    <div class="team-photo">
                        <a href="#">
                            <img src="http://placehold.it/255x212" alt="agent" class="img-fluid">
                        </a>
                        <ul class="social-list clearfix">
                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-details">
                        <h5><a href="agent-detail.html">Martin Smith</a></h5>
                        <h6>Web Developer</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="team-1">
                    <div class="team-photo">
                        <a href="#">
                            <img src="http://placehold.it/255x212" alt="agent" class="img-fluid">
                        </a>
                        <ul class="social-list clearfix">
                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-details">
                        <h5><a href="agent-detail.html">Carolyn Stone</a></h5>
                        <h6>Creative Director</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="team-1">
                    <div class="team-photo">
                        <a href="#">
                            <img src="http://placehold.it/255x212" alt="agent" class="img-fluid">
                        </a>
                        <ul class="social-list clearfix">
                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-details">
                        <h5><a href="agent-detail.html">Brandon Miller</a></h5>
                        <h6>Manager</h6>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                <div class="team-1">
                    <div class="team-photo">
                        <a href="#">
                            <img src="http://placehold.it/255x212" alt="agent" class="img-fluid">
                        </a>
                        <ul class="social-list clearfix">
                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="google"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-details">
                        <h5><a href="agent-detail.html">Michelle Nelson</a></h5>
                        <h6>Support Manager</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Our team end -->
<!-- Testimonial start -->
<div class="testimonial bg-grea-3 content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Our Testimonial</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
        <!-- Slick slider area start -->
        <div class="slick-slider-area">
            <div class="row slick-carousel" data-slick='{"slidesToShow": 2, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
                <div class="slick-slide-item">
                    <div class="testimonial-inner">
                        <div class="text-box">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <span>( 4 Reviews )</span>
                            </div>
                        </div>
                        <div class="user">
                            <div class="photo">
                                <img class="media-object" src="http://placehold.it/60x60" alt="user">
                            </div>
                            <div class="detail">
                                <h5>Maikel Alisa</h5>
                                <p>Web Designer, New York</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="testimonial-inner">
                        <div class="text-box">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <span>( 4 Reviews )</span>
                            </div>
                        </div>

                        <div class="user">
                            <div class="photo">
                                <img class="media-object" src="http://placehold.it/60x60" alt="user">
                            </div>
                            <div class="detail">
                                <h5>Maikel Alisa</h5>
                                <p>Creative Director, New York</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slick-slide-item">
                    <div class="testimonial-inner">
                        <div class="text-box">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-o"></i>
                                <span>( 4 Reviews )</span>
                            </div>
                        </div>

                        <div class="user">
                            <div class="photo">
                                <img class="media-object" src="http://placehold.it/60x60" alt="user">
                            </div>
                            <div class="detail">
                                <h5>Auro Navanth</h5>
                                <p>Office Manager, New York</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="slick-prev slick-arrow-buton">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="slick-next slick-arrow-buton">
                <i class="fa fa-angle-right"></i>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial end -->
<!-- Blog section start -->
<div class="blog-section content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Our Blog</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="blog-2">
                    <div class="blog-photo">
                        <img src="http://placehold.it/350x218" alt="small-blog" class="img-fluid">
                        <div class="date-box">
                            <span>14</span>Nov
                        </div>
                        <div class="profile-user">
                            <img src="http://placehold.it/45x45" alt="user">
                        </div>
                    </div>
                    <div class="detail">
                        <div class="post-meta clearfix">
                            <ul>
                                <li>
                                    <strong><a href="#">Jery Antony</a></strong>
                                </li>
                                <li class="float-right mr-0"><a href="#"><i class="flaticon-comment"></i></a>17K</li>
                                <li class="float-right"><a href="#"><i class="flaticon-calendar"></i></a>73k</li>
                            </ul>
                        </div>
                        <h4>
                            <a href="blog-details.html">Selling Your Real House</a>
                        </h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="blog-2">
                    <div class="blog-photo">
                        <img src="http://placehold.it/350x218" alt="small-blog" class="img-fluid">
                        <div class="date-box">
                            <span>21</span>Feb
                        </div>
                        <div class="profile-user">
                            <img src="http://placehold.it/45x45" alt="user">
                        </div>
                    </div>
                    <div class="detail">
                        <div class="post-meta clearfix">
                            <ul>
                                <li>
                                    <strong><a href="#">Brandon Miller</a></strong>
                                </li>
                                <li class="float-right mr-0"><a href="#"><i class="flaticon-comment"></i></a>17K</li>
                                <li class="float-right"><a href="#"><i class="flaticon-calendar"></i></a>73k</li>
                            </ul>
                        </div>
                        <h4>
                            <a href="blog-details.html">Buying a Best House</a>
                        </h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 none-992">
                <div class="blog-2">
                    <div class="blog-photo">
                        <img src="http://placehold.it/350x218" alt="small-blog" class="img-fluid">
                        <div class="date-box">
                            <span>17</span>Jan
                        </div>
                        <div class="profile-user">
                            <img src="http://placehold.it/45x45" alt="user">
                        </div>
                    </div>
                    <div class="detail">
                        <div class="post-meta clearfix">
                            <ul>
                                <li>
                                    <strong><a href="#">Michelle Nelson</a></strong>
                                </li>
                                <li class="float-right mr-0"><a href="#"><i class="flaticon-comment"></i></a>17K</li>
                                <li class="float-right"><a href="#"><i class="flaticon-calendar"></i></a>73k</li>
                            </ul>
                        </div>
                        <h4>
                            <a href="blog-details.html">Find Your Dream Real Estate</a>
                        </h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog section end -->
<!-- Intro section start -->
<div class="intro-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-8 col-sm-12">
                <div class="intro-text">
                    <h3>Do You Have Questions ?</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12">
                <a href="contact.html" class="btn btn-md">Get in Touch</a>
            </div>
        </div>
    </div>
</div>*@
@section styles{
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
}
@section scripts {
    <script src="~/js/jquery-ui.min.js"></script>
    <script>

        $(document).ready(function () {
            var url = '@Url.Action("GetLocations","Region")'
            $('#location').autocomplete({

                source: function (request, response) {
                    $.ajax({
                        url: url,
                        data: { searchTerm: request.term },
                        type: "GET",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return {
                            label: item,
                            value: item
                        };
                            }))
                        }


                    });
                }
            });


            $("#searchBtn").click(function () {
                var searchKey = $("#location").val();
                $("#locationInput").val(searchKey);
                console.log($("#locationInput").val());


                $("#searchForm").submit();

            })

        });
    </script>
}